
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    width: auto;
    min-width: 158px;
    background-color: #333;
    color: #fff;
    
}

.sidebar ul {
    list-style: none;
    padding: 0;
    
}

.sidebar ul li {
    margin-bottom: 10px;
    margin-left: 10px;
    
}

.content {
    margin-left: 158px;
    padding: 20px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.social-icons{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    padding: 0;
    
}

.social-icons a {
    margin-left: 10px;
}

#home{
    border-bottom: 4px solid #333;
}

#about{
    border-bottom: 4px solid #333;
}

#portfolio{
    border-bottom: 4px solid #333;
}